.recommended-friends {
  padding-bottom: 25px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 25px 0px;
  padding: 25px 0px;
}

.recommended-friends__title {
  font-size: 12px;
  color: white;
}

.recommended-friends span {
  margin: 75px 0px;
  display: block;
  text-align: center;
  font-size: 15px;
  color: white;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: white;
}
.open-chat__header span {
  opacity: 0.7;
}

.open-chat__post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  padding: 15px;
  color: white;
}

.open-chat__post--title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-chat__post--hashtags {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.open-chat__post--members {
  margin-top: 7px;
  display: flex;
  align-items: center;
  color: white;
}

.open-chat__post--members img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.open-chat__post--members-count {
  opacity: 0.7;
  font-size: 14px;
}

.open-chat__post--members .divider {
  width: 1px;
  height: 10px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-chat__post--members-status {
  color: #ff64c3;
}

.open-chat__post {
  position: relative;
}
.open-chat__post--photo img {
  margin-right: 5px;
  width: 120px;
  height: 120px;
  border-radius: 10%;
  object-fit: cover;
}

.open-chat__post--heart-count {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 15px;
}

.open-chat__post--heart-count span {
  margin-left: 5px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.open-chat__post--heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
