.welcom-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  color: white;
}
.welcom-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcom-header__text {
  width: 65%;
  opacity: 0.6;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 10px 0px;
  font-size: 16px;
  margin-bottom: 25px;
  background-color: transparent;
  color: white;
}
#login-form input:not([type="submit"]) {
  border-bottom: 3px solid gray;
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: white;
}
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: var(--pink);
  color: black;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 25px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
