.settings-setting {
  padding: 20px 0px;
  border-bottom: 1px solid var(--light-gray);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.settings-setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.8;
}

.settings-setting__column:last-child {
  opacity: 0.6;
}
