.badge-normal {
  background-color: var(--pink);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
}
.badge-small {
  background-color: var(--pink);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.badge-circle {
  position: absolute;
  border: 1px solid var(--pink);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  color: var(--pink);
  font-weight: 600;
  left: 140px;
  top: 35px;
}
