#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  border-radius: 35px;
  background-color: var(--dark-gray);
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: greenyellow;
  font-size: 32px;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
    justify-content: center;
    align-items: center;
  }
}
