.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  color: white;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icon span {
  position: relative;
  margin-left: 25px;
}
.screen-notification:last-child {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icon .fa-gear:hover {
  animation: rotateGear 2s linear infinite;
}
